html {
    scroll-behavior: smooth;
  }
  
  html, body{
    cursor: url('assets/imgs/cursor_light.png'), auto;
    
  }
  
  body
  {
    /* background-color: rgba(222, 255, 252, 1);
    background: radial-gradient(#B2FEFA 6%, #03d4fc);*/
    
    /*background-image: url('/img/smartcity-header-6.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed;*/
    background-color:white;
    color:black;
    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    zoom: 1;
    
  }


  #bg{
    background-image: url('assets/imgs/1.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
}



.navbar-nav .nav-item.active .nav-link {
color: rgba(212, 163, 255, 1); /* Change to the desired color for the active button */
/* Add any additional styling for the active button */
}

.popup
{
  transition: 0.4s;
}
.popup:hover 
{
  transform: scale(1.2,1.2);
  transition: 0.4s;
}



@media (max-width: 575.98px) {
.navmargin {
  margin-top: 4rem;
}
}


.nav_fly {
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: 1;
    }
    
    @keyframes slidein {
    from {
      margin-left: 100%;
      width: 0%;
    }
    to {
      margin-left: 0;
      width: 100%;
    }
    }
    
    .navclass_display {
    white-space: nowrap;
    display: inline-block;
    }
    
    .nav_fly_left {
    animation-duration: 2s;
    animation-name: slideinn;
    animation-iteration-count: 1;
    }
    
    @keyframes slideinn {
    from {
      margin-left: -100%;
      width: 0%;
    }
    to {
      margin-left: 0;
      width: 100%;
    }
    }


    .video-containerr {
        position: relative;
        width: 100%;
        
        overflow: hidden;
      }
      
      #myVideoo {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius:30px
      }


