html {
    scroll-behavior: smooth;
  }
  
  html, body{
    cursor: url('assets/imgs/cursor_light.png'), auto;
    
  }
  
  body
  {
    /* background-color: rgba(222, 255, 252, 1);
    background: radial-gradient(#B2FEFA 6%, #03d4fc);*/
    
    /*background-image: url('/img/smartcity-header-6.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed;*/
    background-color:white;
    color:black;
    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    zoom: 1;
    
  }


  #bg{
    background-image: url('assets/imgs/1.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
}



.navbar-nav .nav-item.active .nav-link {
color: rgba(212, 163, 255, 1); /* Change to the desired color for the active button */
/* Add any additional styling for the active button */
}

.popup
{
  transition: 0.4s;
}
.popup:hover 
{
  transform: scale(1.2,1.2);
  transition: 0.4s;
}



@media (max-width: 575.98px) {
.navmargin {
  margin-top: 4rem;
}
}


.nav_fly {
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: 1;
    }
    
    @keyframes slidein {
    from {
      margin-left: 100%;
      width: 0%;
    }
    to {
      margin-left: 0;
      width: 100%;
    }
    }
    
    .navclass_display {
    white-space: nowrap;
    display: inline-block;
    }
    
    .nav_fly_left {
    animation-duration: 2s;
    animation-name: slideinn;
    animation-iteration-count: 1;
    }
    
    @keyframes slideinn {
    from {
      margin-left: -100%;
      width: 0%;
    }
    to {
      margin-left: 0;
      width: 100%;
    }
    }


    .video-containerr {
        position: relative;
        width: 100%;
        
        overflow: hidden;
      }
      
      #myVideoo {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius:30px
      }


      #buynow {
        --glow-color: rgb(217, 176, 255);
        --glow-spread-color: rgba(191, 123, 255, 0.781);
        --enhanced-glow-color: rgb(217, 206, 255);
        --btn-color: rgb(97, 41, 202);
        border: .25em solid var(--glow-color);
        padding: 1em 3em;
        color: var(--glow-color);
        font-size: 15px;
        font-weight: bold;
        background-color: var(--btn-color);
        border-radius: 1em;
        outline: none;
        box-shadow: 0 0 1em .25em var(--glow-color),
               0 0 4em 1em var(--glow-spread-color),
               inset 0 0 .75em .25em var(--glow-color);
        text-shadow: 0 0 .5em var(--glow-color);
        position: relative;
        transition: all 0.3s;
       }
       
       #buynow::after {
        pointer-events: none;
        content: "";
        position: absolute;
        top: 120%;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: var(--glow-spread-color);
        filter: blur(2em);
        opacity: .7;
        transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
       }
       
       #buynow:hover {
        color: var(--btn-color);
        background-color: var(--glow-color);
        box-shadow: 0 0 1em .25em var(--glow-color),
               0 0 4em 2em var(--glow-spread-color),
               inset 0 0 .75em .25em var(--glow-color);
       }
       
       #buynow:active {
        box-shadow: 0 0 0.6em .25em var(--glow-color),
               0 0 2.5em 2em var(--glow-spread-color),
               inset 0 0 .5em .25em var(--glow-color);
       }


